<div class="header">
  
  <div class="header--burger header--item">=</div>
  <div class="header--title header--item">Small Steps</div>
  <div class="header--settings header--item">#</div> 
  
</div>